<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mymall.dao.MemberMapper">
  <select id="selectMember"  resultType="com.test.mymall.vo.Member" parameterType="String">
	SELECT no, id, pw, level from member WHERE id = #{id}
  </select>
  <select id="loginMember" resultType="com.test.mymall.vo.Member" parameterType="com.test.mymall.vo.Member">
  	SELECT no, id, level from member where id = #{id} and pw = #{pw}
  </select>
  <insert id="insertMember"  parameterType="com.test.mymall.vo.Member">
	insert into member(id,pw,level) values(#{id},#{pw},#{level})
  </insert>
  <update id="modifyMember" parameterType="com.test.mymall.vo.Member">
	UPDATE member SET pw = #{pw}, level = #{level} WHERE id = #{id}
  </update>
  <delete id="deleteMember" parameterType="int">
	DELETE FROM member WHERE no = #{no}
  </delete>
	
</mapper>